* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-openSans) !important;
  user-select: none;
}

body {
  font-family: var(--font-openSans), sans-serif !important;
}

.russoFont {
  font-family: var(--font-russoFont) !important;
}

.interFont {
  font-family: var(--font-interFont) !important;
}

a {
  text-decoration: none;
}
